<!--<div>
  <input type="file" (change)="onFileSelected($event)" accept="image/*" />
  <button (click)="removeBackground()">Remover Plano de Fundo</button>
</div>
<div *ngIf="imageSrc">
  <h3>Imagem Original</h3>
  <img [src]="imageSrc" alt="Imagem Original" width="300" />
</div>
<div *ngIf="backgroundRemovedImageSrc">
  <h3>Imagem com Plano de Fundo Removido</h3>
  <img [src]="backgroundRemovedImageSrc" alt="Imagem com Plano de Fundo Removido" width="300" />
</div>-->


<section class="section">
  <div class="container">
      <div class="row txt-center">
        <div class="col-10">
        <h2>Faça upload de uma imagem para remover o fundo</h2>
        <div *ngIf="!isload else result" class="drop-container dflex-center" (drop)="onFileDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
          <label for="arquivo">Fazer upload</label>
          <input class="btn btn-primary" type="file" name="arquivo" id="arquivo" (change)="onFileSelected($event)" accept="image/*">
          <p class="drop-text pt-2">Ou arraste uma imagem aqui</p>
        </div>
        <ng-template #result>
          <div class="container">
            <div class="col-12">
              <p-tabView>
                <p-tabPanel header="Imagem original">
                  <div class="result">
                    <div *ngIf="imageSrc" class="image-preview">
                      <img class="img-fluid" [src]="imageSrc" alt="Imagem">
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Imagem sem fundo">
                  <div class="result">
                    <div *ngIf="downloadedImageSrc" class="image-preview">
                      <img class="img-fluid" [src]="downloadedImageSrc" alt="Imagem Baixada">
                    </div>
                  </div>
                </p-tabPanel>
            </p-tabView>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>
