
<section class="section">
  <div class="container">
      <div class="row txt-center">
        <div class="col-10">
        <h2>Faça upload de uma imagem para remover o fundo</h2>
        <div *ngIf="!isload else result" class="drop-container dflex-center" (drop)="onFileDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
          <div *ngIf="!loading else skeleton">
            <label for="arquivo">Fazer upload</label>
            <input class="btn btn-primary" type="file" name="arquivo" id="arquivo" (change)="onFileSelected($event)" accept="image/*">
            <p class="drop-text pt-2">Ou arraste uma imagem aqui</p>
          </div>
          <ng-template #skeleton>
            <p-skeleton styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton height="2rem" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="10rem" height="4rem"></p-skeleton>
          </ng-template>
        </div>

        <ng-template #result>
          <div class="container">
            <div class="col-12">
              <p-tabView>
                <p-tabPanel header="Imagem sem fundo">
                  <div class="row">
                    <div class="col-6">
                      <div class="result">
                        <div *ngIf="downloadedImageSrc" class="image-preview">
                          <img class="img-fluid border" [src]="downloadedImageSrc" alt="Imagem Baixada">
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <button pButton type="button mt-2" label="Baixar Imagem" icon="pi pi-download" iconPos="left" (click)="downloadBackgroundRemovedImage()" ></button>
                      <p> NOME: {{ imgFile.name }}</p>
                      <p> TAMANHO: {{ aroundMath(imgFile.size) }} px</p>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Imagem original">
                  <div class="row">
                    <div class="col-6">
                      <div class="result">
                        <div *ngIf="imageSrc" class="image-preview">
                          <img class="img-fluid border" [src]="imageSrc" alt="Imagem">
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <button pButton type="button mt-2" label="Remover nova imagem" icon="pi pi-upload" iconPos="left" (click)="restart()" ></button>
                      <p> NOME: {{ imgFile.name }}</p>
                      <p> TAMANHO: {{ aroundMath(imgFile.size) }}px</p>
                    </div>
                  </div>
                </p-tabPanel>
            </p-tabView>
            </div>
          </div>
        </ng-template>
      </div>

      <p-toast position="bottom-center"></p-toast>

    </div>
  </div>
</section>
